doctype html
html
   head
      title Mesto.UA
      link(rel='stylesheet', href='./css/main.css')
   body
      .container
         include ./header.jade
         #app
      script(src='js/views/HouseView.js')
      script(src='js/index.js')